<% provide(:title, "Contact" ) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> Clock || Assign_app</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>To get help on this assign_app, contact the owner at <a href="https://s3722706@student.rmit.edu.au">
     <em>Ethel Gonzales email</em></a>.
    </p>
  </body>
</html>
