<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> Clock || Assign_app</title>
  </head>
  <body>
    <h1>Clock</h1>
    <p>
      clock built by Ethel Gonzales - s3722706@student.rmit.edu.au - D - michael
    </p>



   Time.zone 
   Time.zone.name
   Time.zone.now
  </body>
</html>
