<footer class="footer">
  <small>
  The Clock || Assign_App by Ethel Gonzales
  s3722706@student.rmit.edu.au
  </small>
  <nav>
    <ul>
      <li><a href="https://facebook.com">Facebook</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="https://indeed.com">Indeed</a></li>
    </ul>
  </nav>
</footer>
